html, body{
    margin: 0;
    font-family: "Secular One", sans-serif;
}

.main-login{
    width: 100vw;
    height: 100vh;
    background-color: #F4FFF4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-login-img{
    width: 35vw;
}

.right-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 30px;
}

.card-login > h1{
    color: #353535;
    font-size: 60px;
    margin: 0;
}

.icon-form{
    padding-right: 5px;
}

.icon-textfield{
    display: flex;
    flex-direction: row;
}

.textfield{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
    width: 100%;
}

.textfield > input{
    width: 100%;
    border: 1px solid black;
    border-radius: 21px;
    padding: 15px;
    font-size: 12pt;
    outline: none;
    box-sizing: border-box;
}

.icon-textfield > label,
.icon-textfield > span{
    color: #353535;
    margin-bottom: 4px;
}

.textfield >input::placeholder{
    color: #929292;
}

.btn-login{
    background-color: #BBF4BE;
    border: none;
    border-radius: 30px;
    width: 80%;
    margin-bottom: 30px;
    margin-top: 10px;
    height: 40px;
    color: #263238;
    font-size: 12pt;
    outline: none;
    cursor: pointer;
}

.forgotten-password{
    color: #63AC67;
    font-size: 11pt;
    font-family: sans-serif;
}

@media only screen and (max-width:950px){
    .card-login{
        width: 85%;
    }
}

@media only screen and (max-width:600px){
    .main-login{
        flex-direction: column;
    }

    .left-login{
        width: 100%;
        height: auto;
    }

    .right-login{
        width: 100%;
        height: auto;
    }

    .left-login-img{
        width: 40vh;
    }

    .card-login{
        padding: 10px 10px;
    }
}